{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create a new markdown page</h1>

    <form action="{% url 'new_page' %}" method="post">
        {% csrf_token %}

        <!-- {{ form }} -->
        <label for="new-page"></label>
        <textarea id="new-page" name="content" rows="4" cols="50" autofocus placeholder="Enter markdown text here" required></textarea>
        <input type="text" required name="title" placeholder="Enter name of file">
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}